{% extends 'base.html'%}
{% block content %}
{% load bootstrap5 %}
{% load static %}

<style>

    .custom-card {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    .align-end {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }
    
    .grafico-container ul {
    list-style-type: none;
    padding-left: 0;
    }
    .grafico-container li {
    margin-bottom: 6px;
    }
    .resumen-fijo {
    position: fixed;
    top: 100px;
    left: 30px;
    width: 300px;
    z-index: 1000;
    }
    @media (max-width: 991px) {
    .resumen-fijo {
        position: static;     
        width: 100%;         
        top: auto;
        left: auto;
        margin-bottom: 20px;  
        }
    }

    @media (max-width: 768px) {
    .svg-container {
        width: 500px !important;
    }
    }
    @media (min-width: 992px) and (max-width: 1100px){
    .svg-container {
        width: 600px !important;
    }
    }
</style>
<body class="background-container"> 
    <div class="container py-5">
        <div class="row justify-content-end">
            <div class="col-lg-4">
                <div class="custom-card grafico-container align-start resumen-fijo">
                    <h3 style="text-align: center;">Resumen de casos</h3>
                    <ul>
                        <li>
                        <div class="col-12 mb-3">
                            <div class="text-center p-2">
                                <strong>Total nacional</strong>
                                <div>{{ total_nacional }}</div>
                            </div>
                        </div></li>
                        <li>
                        <div class="col-12 mb-3">
                            <div class="text-center p-2">
                                <strong>Total en la región {{ region_seleccionada }}</strong>
                                <div>{{ total_regional }}</div>
                            </div>
                        </div></li>
                        <li>
                            <div class="col-12">
                                <div class="text-center p-2">
                                    <strong>Casos por género</strong>
                                    <div class="mt-2">
                                        {% for genero, cantidad in conteo_genero.items %}
                                            <div class="mb-1">
                                                {{ genero }}: <span>{{ cantidad }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="custom-card">
                    <h2 style="text-align: center;">Gráficos de matrículas</h2>
                    <h4 style="text-align: center;">Enseñanza Básica 2022</h4>

                    <label for="region" class="pt-2">Selecciona una región</label>
                    <select id="region" name="NOM_REG_RBD_A" onchange="filtrarPorRegion()">
                        <option value="RM" {% if region == "RM" %}selected{% endif %} >Región Metropolitana</option>
                        <option value="TPCA" {% if region == "TPCA" %} selected {% endif %}>Región de Tarapacá</option>
                        <option value="ANTOF"{% if region == "ANTOF" %} selected {% endif %}>Región de Antofagasta </option>
                        <option value="ATCMA"{% if region == "ATCM" %} selected {% endif %}>Región de Atacama </option>
                        <option value="COQ"{% if region == "COQ" %} selected {% endif %}>Región de Coquimbo</option>
                        <option value="VALPO"{% if region == "VALPO" %} selected {% endif %}>Región de Valparaíso</option>
                        <option value="LGBO"{% if region == "LGBO" %} selected {% endif %}>Región del Libertador 
                            Gral. Bernardo OHiggins</option>
                        <option value="MAULE"{% if region == "MAULE" %} selected {% endif %}>Región del Maule </option>
                        <option value="BBIO"{% if region == "BBIO" %} selected {% endif %}>Región del Biobío</option>
                        <option value="ARAUC"{% if region == "ARAUC" %} selected {% endif %}>Región de la Araucanía</option>
                        <option value="LAGOS"{% if region == "LAGOS" %} selected {% endif %}>Región de Los Lagos</option>
                        <option value="AYSEN"{% if region == "AYSEN" %} selected {% endif %}>Región de Aysén del Gral. 
                            Carlos Ibáñez del Campo</option>
                        <option value="MAG"{% if region == "MAG" %} selected {% endif %}>Región de Magallanes y 
                            de la Antártica Chilena </option>
                        <option value="RIOS"{% if region == "RIOS" %} selected {% endif %}>Región de Los Ríos</option>
                        <option value="AYP"{% if region == "AYP" %} selected {% endif %}>Región de Arica y Parinacota</option>
                        <option value="NUBLE"{% if region == "NUBLE" %} selected {% endif %}>Región de Ñuble</option>
                    </select>
                </div>

                <div class="custom-card grafico-container align-end">    
                {{ grafico_html|safe }}
                </div>

                <div class="custom-card grafico-container align-end">    
                {{ grafico_dependencia_html|safe }}
                </div>

                <div class="custom-card grafico-container align-end">    
                    {{ grafico_tipo_html|safe }}
                </div>
            </div>
        </div>
    </div>
<script>
    function filtrarPorRegion() {
        var region = document.getElementById("region").value;
        window.location.href = "?NOM_REG_RBD_A=" + region;
    }

    // Mantener seleccionada la región actual
    document.getElementById("region").value = "{{ region }}";
</script>

</body>
</html>
{% endblock %}