{% extends 'base.html'%}
{% block content %}
{% load bootstrap5 %}
{% load static %}

<style>

    .custom-card {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    /* Asegura que los gráficos sean responsivos */
    .grafico-container img, .grafico-container svg {
        max-width: 100%;
        height: auto;
    }
    /* Alineación del contenido interno a la derecha style="max-width: 100%; height: auto;" */
    .align-end {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }
    
    .plotly-graph-div {
        width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
    }
</style>
<body class="background-container"> 
    <div class="container py-5">
        <div class="row justify-content-end">
            <div class="col-lg-8">
                <div class="custom-card">
                    <h2 style="text-align: center;">Gráficos de matrículas</h2>
                    <h4 style="text-align: center;">Enseñanza Básica 2022</h4>

                    <label for="region" class="pt-2">Selecciona una región:</label>
                    <select id="region" name="NOM_REG_RBD_A" onchange="filtrarPorRegion()">
                        <option value="RM" {% if region == "RM" %}selected{% endif %} >Región Metropolitana</option>
                        <option value="TPCA" {% if region == "TPCA" %} selected {% endif %}>Región de Tarapacá</option>
                        <option value="ANTOF"{% if region == "ANTOF" %} selected {% endif %}>Región de Antofagasta </option>
                        <option value="ATCMA"{% if region == "ATCM" %} selected {% endif %}>Región de Atacama </option>
                        <option value="COQ"{% if region == "COQ" %} selected {% endif %}>Región de Coquimbo</option>
                        <option value="VALPO"{% if region == "VALPO" %} selected {% endif %}>Región de Valparaíso</option>
                        <option value="LGBO"{% if region == "LGBO" %} selected {% endif %}>Región del Libertador 
                            Gral. Bernardo OHiggins</option>
                        <option value="MAULE"{% if region == "MAULE" %} selected {% endif %}>Región del Maule </option>
                        <option value="BBIO"{% if region == "BBIO" %} selected {% endif %}>Región del Biobío</option>
                        <option value="ARAUC"{% if region == "ARAUC" %} selected {% endif %}>Región de la Araucanía</option>
                        <option value="LAGOS"{% if region == "LAGOS" %} selected {% endif %}>Región de Los Lagos</option>
                        <option value="AYSEN"{% if region == "AYSEN" %} selected {% endif %}>Región de Aysén del Gral. 
                            Carlos Ibáñez del Campo</option>
                        <option value="MAG"{% if region == "MAG" %} selected {% endif %}>Región de Magallanes y 
                            de la Antártica Chilena </option>
                        <option value="RIOS"{% if region == "RIOS" %} selected {% endif %}>Región de Los Ríos</option>
                        <option value="AYP"{% if region == "AYP" %} selected {% endif %}>Región de Arica y Parinacota</option>
                        <option value="NUBLE"{% if region == "NUBLE" %} selected {% endif %}>Región de Ñuble</option>
                    </select>
                </div>

                <div class="custom-card grafico-container align-end">    
                {{ grafico_html|safe }}
                </div>

                <div class="custom-card grafico-container align-end">    
                {{ grafico_dependencia_html|safe }}
                </div>

                <div class="custom-card grafico-container align-end">    
                    {{ grafico_tipo_html|safe }}
                </div>
            </div>
        </div>
    </div>
<script>
    function filtrarPorRegion() {
        var region = document.getElementById("region").value;
        window.location.href = "?NOM_REG_RBD_A=" + region;
    }

    // Mantener seleccionada la región actual
    document.getElementById("region").value = "{{ region }}";
</script>

</body>
</html>
{% endblock %}