{% extends 'base.html'%}
{% block content %}
{% load bootstrap5 %}
{% load static %}

<style>

    .custom-card {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    /* Asegura que los gráficos sean responsivos */
    .grafico-container img, .grafico-container svg {
        max-width: 100%;
        height: auto;
    }
    /* Alineación del contenido interno a la derecha style="max-width: 100%; height: auto;" */
    .align-end {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .plotly-graph-div {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    }
    .grafico-container ul {
    list-style-type: none;
    padding-left: 0;
    }
    .grafico-container li {
    margin-bottom: 6px;
    }
    .resumen-fijo {
    position: fixed;
    top: 100px;
    left: 30px;
    width: 300px;
    z-index: 1000;
    }
    @media (max-width: 991px) {
    .resumen-fijo {
        position: static;     
        width: 100%;         
        top: auto;
        left: auto;
        margin-bottom: 20px;  
        }
    }
    @media (max-width: 768px) {
    .svg-container {
        width: 500px !important;
    }
    }
    @media (min-width: 992px) and (max-width: 1100px){
    .svg-container {
        width: 600px !important;
    }
    }
</style>
<body class="background-container">
<div class="container py-5">
    <div class="row justify-content-end">
        <div class="col-lg-4">
            <div class="custom-card grafico-container align-start resumen-fijo">
                <h3 style="text-align: center;">Resumen de casos</h3>
                <ul>
                    <li>
                    <div class="col-12 mb-3">
                        <div class="text-center p-2">
                            <strong>Total nacional</strong>
                            <div>{{ total_nacional }}</div>
                        </div>
                    </div></li>
                    <li>
                    <div class="col-12 mb-3">
                        <div class="text-center p-2">
                            <strong>Total en la región {{ region_seleccionada }}</strong>
                            <div>{{ total_regional }}</div>
                        </div>
                    </div></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8"> 
            <div class="custom-card">
                <h2 class="text-center mb-4" >Resultados Índice de Desarrollo Personal y Social</h2>
                <h4 class="text-center mb-4" >2° Medio 2023</h4>
                <label for="nom_reg_rbd" class="form-label">Selecciona una región</label>
                <select id="nom_reg_rbd" class="form-select" name="nom_reg_rbd" onchange="filtrarPorRegion()">
                    <option value="METROPOLITANA DE SANTIAGO" {% if nom_reg_rbd == "METROPOLITANA DE SANTIAGO" %}selected{% endif %} >Región Metropolitana</option>
                    <option value="DE TARAPACÁ" {% if nom_reg_rbd == "DE TARAPACÁ" %} selected {% endif %}>Región de Tarapacá</option>
                    <option value="DE ANTOFAGASTA"{% if nom_reg_rbd == "DE ANTOFAGASTA" %} selected {% endif %}>Región de Antofagasta </option>
                    <option value="DE ATACAMA"{% if nom_reg_rbd == "DE ATACAMA" %} selected {% endif %}>Región de Atacama </option>
                    <option value="DE COQUIMBO"{% if nom_reg_rbd == "DE COQUIMBO" %} selected {% endif %}>Región de Coquimbo</option>
                    <option value="DE VALPARAÍSO"{% if nom_reg_rbd == "DE VALPARAÍSO" %} selected {% endif %}>Región de Valparaíso</option>
                    <option value="DEL LIBERTADOR BERNARDO O"{% if nom_reg_rbd == "DEL LIBERTADOR BERNARDO O" %} selected {% endif %}>Región del Libertador 
                        Gral. Bernardo OHiggins</option>
                    <option value="DEL MAULE"{% if nom_reg_rbd == "DEL MAULE" %} selected {% endif %}>Región del Maule </option>
                    <option value="DEL BIOBÍO"{% if nom_reg_rbd == "DEL BIOBÍO" %} selected {% endif %}>Región del Biobío</option>
                    <option value="DE LA ARAUCANÍA"{% if nom_reg_rbd == "DE LA ARAUCANÍA" %} selected {% endif %}>Región de la Araucanía</option>
                    <option value="DE LOS LAGOS"{% if nom_reg_rbd == "DE LOS LAGOS" %} selected {% endif %}>Región de Los Lagos</option>
                    <option value="DE AYSÉN DEL GENERAL CARL"{% if nom_reg_rbd == "DE AYSÉN DEL GENERAL CARL" %} selected {% endif %}>Región de Aysén del Gral. 
                        Carlos Ibáñez del Campo</option>
                    <option value="DE MAGALLANES Y DE LA ANT"{% if nom_reg_rbd == "DE MAGALLANES Y DE LA ANT" %} selected {% endif %}>Región de Magallanes y 
                        de la Antártica Chilena </option>
                    <option value="DE LOS RÍOS"{% if nom_reg_rbd == "DE LOS RÍOS" %} selected {% endif %}>Región de Los Ríos</option>
                    <option value="DE ARICA Y PARINACOTA"{% if nom_reg_rbd == "DE ARICA Y PARINACOTA" %} selected {% endif %}>Región de Arica y Parinacota</option>
                    <option value="DE ÑUBLE"{% if nom_reg_rbd == "DE ÑUBLE" %} selected {% endif %}>Región de Ñuble</option>
                </select>
            </div>

            <div class="custom-card grafico-container align-end"  >
                {{ grafico_html|safe }}
            </div>

            <div class="custom-card grafico-container align-end">
                {{ grafico_zona|safe }}
            </div>

            <div class="custom-card resultados-container">
                <p> El valor de Chi-cuadrado es {{ chi2_zona }} lo que da un valor de significancia de {{p_zona}}, pudiendo concluir que 
                    {% if p_depe < 0.05 %}<strong>Las diferencias son estadísticamente significativas (p < 0.05).</strong>
                    {% else %}<strong>Las diferencias no son significativas.</strong></p>
                    {% endif %}
            </div>

            <div class="custom-card grafico-container align-end">
                {{ grafico_dependencia|safe }}
            </div>

            <div class="custom-card resultados-container">
                <p>El valor de Chi-cuadrado es {{ chi2_depe }} (p = {{ p_depe }}). 
                {% if p_depe < 0.05 %}<strong>Diferencias significativas (p < 0.05).</strong>
                {% else %}<strong>Diferencias no significativas.</strong>{% endif %}
                </p>
            </div>

            <div class="custom-card grafico-container align-end">
                {{ grafico_provincia|safe }}
            </div>

            <div class="custom-card resultados-container">
                <p>El valor de Chi-cuadrado es {{ chi2_pro }} (p = {{ p_pro }}). 
                {% if p_pro < 0.05 %}<strong>Diferencias significativas (p < 0.05).</strong>
                {% else %}<strong>Diferencias no significativas.</strong>{% endif %}
                </p>
            </div>

        </div>
    </div>
</div>

<script>
    function filtrarPorRegion() {
        const region = document.getElementById("nom_reg_rbd").value;
        window.location.href = `?nom_reg_rbd=${region}`;
    }
    document.getElementById("nom_reg_rbd").addEventListener("change", filtrarPorRegion);
</script>
</body>

{% endblock %}