{% extends 'base.html'%}
{% block content %}
{% load bootstrap5 %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Género</title>
<style>
.grafico-container, .filtro-container {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente (opcional) */
    text-align: center; /* Centrar el texto */
    width: 100%;
    padding-top: 2rem;
}
</style>
</head>
<body> 
    <!-- GRAFICO GENERO POR ZONA-->
    <div class="filtro-container">
        <h2 style="text-align: center;">Gráficos de matrículas por año</h2>

        <label for="region" class="pt-2">Selecciona una región:</label>
        <select id="region" name="nom_reg_a_estab" onchange="filtrarPorRegion()">
            <option value="">Todas</option>
            <option value="RM" {% if region == "RM" %}selected{% endif %} >Región Metropolitana</option>
            <option value="TPCA" {% if region == "TPCA" %} selected {% endif %}>Región de Tarapacá</option>
            <option value="ANTOF"{% if region == "ANTOF" %} selected {% endif %}>Región de Antofagasta </option>
            <option value="ATCMA"{% if region == "ATCM" %} selected {% endif %}>Región de Atacama </option>
            <option value="COQ"{% if region == "COQ" %} selected {% endif %}>Región de Coquimbo</option>
            <option value="VALPO"{% if region == "VALPO" %} selected {% endif %}>Región de Valparaíso</option>
            <option value="LGBO"{% if region == "LGBO" %} selected {% endif %}>Región del Libertador 
                Gral. Bernardo OHiggins</option>
            <option value="MAULE"{% if region == "MAULE" %} selected {% endif %}>Región del Maule </option>
            <option value="BBIO"{% if region == "BBIO" %} selected {% endif %}>Región del Biobío</option>
            <option value="ARAUC"{% if region == "ARAUC" %} selected {% endif %}>Región de la Araucanía</option>
            <option value="LAGOS"{% if region == "LAGOS" %} selected {% endif %}>Región de Los Lagos</option>
            <option value="AYSEN"{% if region == "AYSEN" %} selected {% endif %}>Región de Aysén del Gral. 
                Carlos Ibáñez del Campo</option>
            <option value="MAG"{% if region == "MAG" %} selected {% endif %}>Región de Magallanes y 
                de la Antártica Chilena </option>
            <option value="RIOS"{% if region == "RIOS" %} selected {% endif %}>Región de Los Ríos</option>
            <option value="AYP"{% if region == "AYP" %} selected {% endif %}>Región de Arica y Parinacota</option>
            <option value="NUBLE"{% if region == "NUBLE" %} selected {% endif %}>Región de Ñuble</option>
        </select>
    </div>

    <div class="grafico-container">    
    {{ grafico_html|safe }}
    </div>

    <div class="grafico-container">    
        {{ grafico1_html|safe }}
    </div>

    <div class="grafico-container">    
        {{ grafico2_html|safe }}
    </div>


    <script>
        function filtrarPorRegion() {
            var region = document.getElementById("region").value;
            window.location.href = "?nom_reg_a_estab=" + region;
        }
    
        // Mantener seleccionada la región actual
        document.getElementById("region").value = "{{ region }}";
    </script>

</body>
</html>
{% endblock %}