{% extends 'base.html'%}
{% block content %}
{% load static %}
{% load bootstrap5 %}


<div class="container" style="margin: auto; margin-top: 2rem;">
    <div class="row row-cols-1 row-cols-md-2 g-4" >
      <div class="col">
        <div class="card">
          <img src="{% static 'img/educacion/dependencia.png' %}" class="card-img-top" alt="img_pensiones"
          style="max-width: 100%; max-height: 300px; object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'lista-matriculas-view' %}">Matrículas</a></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'img/educacion/regiones.png' %}" class="card-img-top" alt="img_comisiones"
          style="max-width: 100%; max-height: 300px; object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'lista-simce-view' %}">Resultados Simce</a></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'img/educacion/matricula.png' %}" class="card-img-top" alt="img_cotizaciones"
          style="max-width: 100%; max-height: 300px; object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title">Educación Media</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'img/educacion/nivel.png' %}" class="card-img-top" alt="img_calculo" 
          style="max-width: 100%; max-height: 300px; object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title">Educación Superior</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}