{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <h1 class="text-center">Bienvenido a la página de inicio</h1><br><br>
    <p class="text-center">En esta página encontrarás información sobre pensiones, educación, salud y trabajo en Chile.</p>
    <p class="text-center">Para navegar por la página, selecciona una de las opciones del menú superior.</p>
    <p class="text-center">¡Esperamos que encuentres la información que buscas!</p>
    <img src="" alt="">
</div>

<!-- CARDS -->
<div class="container"></div>
  <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center" style="align-content: end;">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px; margin-left: 2rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'img/pensiones.jpeg'%}" class="img-fluid rounded-start h-100 w-100" alt="img_pensiones">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pensiones</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-3" style="max-width: 540px; margin-left: 2rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'img/educacion.jpeg'%}" class="img-fluid rounded-start h-100 w-100" alt="img_educacion">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Educación</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-3" style="max-width: 540px; margin-left: 2rem">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'img/salud.jpeg'%}" class="img-fluid rounded-start h-100 w-100" alt="img_salud">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Salud</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div class="col">
      <div class="card mb-3" style="max-width: 540px; margin-left: 2rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'img/trabajo.jpeg'%}" class="img-fluid rounded-start h-100 w-100" alt="img_trabajo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Trabajo</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
{% endblock %}